---
layout: maps
title: "Precinct Rankings: Frisking"
description: ""
category: map
tags: 
   - precinct stats
   - frisking
   - nypd
gdoc: ""
cols: 
   - id
   - value
col-title: 
   - 
marker-color: ""
marker-size: ""
marker-symbol: "circle"
scale: ""
api:  "herwig.stop-and-frisk-frisk-stops"
base: "herwig.map-j4qvlqyl"
thumb: "http://api.tiles.mapbox.com/v3/herwig.stop-and-frisk-frisk-stops/thumb.png"
embed: "http://api.tiles.mapbox.com/v3/herwig.stop-and-frisk-frisk-stops.html"
group: 
sql: 
shp: 
source: ""
dataset: 
---
{% include JB/setup %}

<div id='map'></div>
{% include ch/mapbox %}
{% include ch/map %}
