---
layout: maps
title: "Open Container Offenses and Trans Stops"
description: ""
category: map
tags: 
   - open container
   - lgbt
   - precinct rankings
gdoc: "0Ak-Npi8oYB9PdGozRHhaM2Z5cFExTnh4dXNkZ05ZT0E"
cols: 
   - precinct
   - crimsuspcontain
col-title: 
   - Precinct
   - Crime Suspected - Open Container
marker-color: "#ffcc00"
marker-size: ""
marker-symbol: "circle"
scale: true
api:  "herwig.map-sc0wx5or"
thumb: "http://api.tiles.mapbox.com/v3/herwig.map-sc0wx5or/-73.9500,40.7142,12/270x300.png"
embed: "http://api.tiles.mapbox.com/v3/herwig.map-sc0wx5or.html"
group: 
sql: 
shp: 
source: ""
dataset: 
---
{% include JB/setup %}

<div id='map'></div>
{% include ch/mapbox %}
{% include ch/gdocs %}
