---
layout: layers
title: "All Stops, 2009"
description: "This map shows the locations of each time a person was stopped by the NYPD under the Stop and Frisk program during 2009."
category: map
tags: 
   - 2009
   - new_all
   - annual total
gdoc: ""
cols: 
   - id
   - value
col-title: 
   - 
marker-color: ""
marker-size: ""
marker-symbol: "circle"
scale: ""
api:  "herwig.all-stops-2009"
base: "herwig.map-sc0wx5or"
thumb: "http://api.tiles.mapbox.com/v3/herwig.all-stops-2009/thumb.png"
embed: "http://api.tiles.mapbox.com/v3/herwig.all-stops-2009.html"
group: 
sql: 
shp: 
source: ""
dataset: 
---
{% include JB/setup %}

<div id='map'></div>
{% include ch/mapbox %}
{% include ch/map %}
