---
layout: maps
title: "Stops by Street Segment, 2008 - 2011"
description: "This layer shows the frequency of stops by street segment for all stops from 2008-2011. It was calculated using the NYC DOITT's Roadbed and Street Centerlines Datasets."
category: map
tags: 
   - roadbed
   - streets
   - stops by street
   - intersection
   - all-time totals
gdoc: ""
cols: 
   - id
   - value
col-title: 
   - 
marker-color: ""
marker-size: ""
marker-symbol: "circle"
scale: ""
api:  "herwig.nyc-roads-all-stops"
base: "herwig.map-sc0wx5or"
thumb: "http://api.tiles.mapbox.com/v3/herwig.nyc-roads-all-stops/thumb.png"
embed: "http://api.tiles.mapbox.com/v3/herwig.nyc-roads-all-stops.html"
group: 
sql: 
shp: 
source: ""
dataset: 
---
{% include JB/setup %}

<div id='map'></div>
{% include ch/mapbox %}
{% include ch/map %}
