/* Global */
html, body {height:100%; font-family:'VollkornBold', Helvetica, Arial, sans-serif;}
body {overflow-x:auto; overflow-y:scroll;}
.clear {clear:both;}
.clearfix:after {clear: both; content: "."; display:block; font-size:0; visibility:hidden;}
.layout {max-width:960px; margin:0 auto;}
.hidden {display:none;}

.banner {
  width:100%;
  padding:8px 0;
  position:absolute;
  top:0;
  z-index:100;
  background-color:#990100;
  color:#444;
  text-align:center;
}

header {
  padding:10px;
  position:relative;
  z-index:5;
  background-color:#fff;
  box-shadow:0 10px 10px -10px #444;
}

.map, #map {
  width:100%;
  height:600px;
  background-color:rgb(0,0,0);
}

#map a.zoomin {
  left:30px;
}

#map a.zoomout {
  left:60px;
}

.container {
  position:relative;
}
#drawer,
.container .border {
  width:40px;
  height:100%;
  background-color:#fff;
  box-shadow:0 0 10px #444;
  position:absolute;
  top:0;
}
.container .border.left {
  left:0;
}

#drawer,
.container .border.right {
  right:0;
}
#drawer {
  height:600px;
  position:absolute;
  top:0;
  right:0;
}

.drawerchart {
	height:150px;
}

#infographic {
  padding:20px;
  position:relative;
  background-color:#fff;
  box-shadow:0 -10px 10px -10px #444;
}

p {
  font-size:14px;
}

.filter {
  margin-bottom:20px;
}

h1, h2, h3 {
  font-family: VollkornBold, Helvetica, Arial, "sans-serif";
  color:#444;
}

	.chart ul, li {
			list-style:none;
			display:block;
		}

	.chart #chart1 {
		  height:300px;
		  width:100%;
		}

#infographic {
  height:auto;
}
.social {
  float:right;
}

.social .fb-like, .social .twitter-share-button, .social iframe {
  float:left;
}

.social .fb_iframe_widget span {
  display:inline;
  vertical-align:baseline;
}

#infographic h2 {
  float:left;
}

select {
  float:right;
}

#sidebar {
  display:none;
}

a.footer {
  padding:10px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  display:block;
  background-color:rgba(0,0,0,0.5);
  color:#fff;
  font-size:24px;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
}

.wax-tooltip {
  width:300px;
  padding:20px;
  z-index:999999;
  position:absolute;
  top:0;
  left:0;
  background-color:#333;
  color:#fff;
  color:#fea;
  -webkit-user-select:auto;
  opacity:1;
  -webkit-transition:opacity 150ms;
  -moz-transition:opacity 150ms;
}

.wax-legends .wax-legend {
  background-color:transparent;
  color:black;
  padding:20px;
}
.wax-legends .wax-legend .my-legend {
  background:#fff;
  background:rgba(255,255,255,.7);
  padding:20px;
}
.wax-legend span.wrapper {
  background-color:rgb(255,255,255);
}
.wax-fade {
  opacity:0;
}

@media (min-width: 992px) {
  a.footer {
    display:none;
  }

  .schedule, .day, .feature {
    width:480px;
    display:block;
  }
}


.layers a {
  display:inline;
  padding:5px;
  margin:5px 0;
  background:#eee;
  max-width:300px;
  position:relative;
  top:10px;
  right:auto;
  left:auto;
}
.layers a:hover, .layers a:focus, .layers a.active {
  background:#369;
  color:white;
}
.buttons ul, li {
  display:inline;
  list-style:none;
}
.wax-tooltip .numberfeature h1 {
  font-size:48;
}

#chartkeep  {
	position: absolute;
    top: 0;
    right: 0;
	width:380px;
	height:75%;
	z-index:9001;
	background-color:pink;
}
.wax-tooltip {
	opacity:0;
	max-width:0;
	max-height:0;
}
#newtables div,
tr, th, tbody, thead

 {
	height:0px !important;
	width:0px;
	min-width:0px;
	max-width:0px;
	max-height:0px;
	position:absolute;
	bottom:0;
	right:0;
	z-index:0;
	opacity:0;
	overflow:hidden !important;
}
.wax-attribution .wax-mm {
	opacity:0 !important;
	position:absolute;
	height:0;
	width:0 !important;
}
/*.highcharts-tooltip,
.highcharts-tooltip span,
.highcharts-tooltip span span {
	position:absolute;
	bottom:20px;
	right:30px;
	padding:0;
	margin:10px;
}*/
.highcharts-container {
	-webkit-box-shadow: 5px 10px 10px -10px #444;
	box-shadow: 5px 10px 10px -10px #444;
	}
