  <div class="page-header">
  <h2>{{ page.title }} <small></small></h2>
</div>

<div class="row">
  <div class="span8">
    {{ content | markdownify }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>

  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </div>
	    <h4>Data</h4>
	    <ul class="tag_box">
	  {% unless page.sql == empty %}
	    <li><a href='{{ page.sql }}'>SQL Script</a></li>
	  {% endunless %}  
	  {% unless page.dataset == empty %}
	    <li><a href='/precinct{{ page.url | replace: 'metadata', 'dataset' }}'>Dataset</a></li>
      {% endunless %}  
 	 
	 {% unless page.description == empty %}
	    <li><a href='{{ page.sql }}'>SQL Script</a></li>
	  {% endunless %}  

 	  {% unless page.shp == empty %}
	    <li><a href='{{ page.shp }}'>Shapefile</a></li>
      {% endunless %}  
 	  {% unless page.parents == empty %}
	    <li><h4>Parents:</h4>{{ page.parents }}</li>
      {% endunless %}  

       </ul>
	  {% unless page.tags == empty %}
	    <h4>Tags</h4>
	    <ul class="tag_box">
	    {% assign tags_list = page.tags %}
	    {% include JB/tags_list %}
	    </ul>
	  {% endunless %}  
	  </div>