---
layout: page
title: Metadata
header: Data processing scripts
group: navigation
---
{% include JB/setup %}
<div class="row">
<!-- <ul class="metadata"> -->
	{% for post in site.posts %}
	{% if post.category == "metadata" %}
			<!-- <li> -->
					<div class="view view-first">
						<a class="info" href="{{ BASE_PATH }}{{ post.url }}">s
						<h2 class="view title">{{ post.title }}</h2>
					<div class="mask">
						<h2 class="mask tags">{{ post.title }}</h2>
						<h2 class="mask description">{{ post.description }}</h2>
						<p class="mask tags">{% for tag in item.tags %}
						  "{{tag}}" {% unless forloop.last %}, {% endunless %}{% endfor %}
						</p>
					</div>
				</a>
				</div>
				
			<!-- </li> -->

	{% endif %}
	{% endfor %}
	<!-- </ul> -->
	</div>
	</div>
	{% assign posts_collate = nil %}
<script type='text/javascript' src='{{ASSET_PATH}}/themes/core/js/ext/jquery/jquery-1.7.2.min.js'></script>
<script type='text/javascript'>
$(document).ready(function() {
  // $('.metadata').toggleClass('hide')
  $('li:odd').addClass('odd')
});
</script>