---
layout: page
title: Metadata
header: Data processing scripts
group: navigation
---
{% include JB/setup %}
<ul class="metadata">
	{% for post in site.posts %}
	{% if post.category == "metadata" %}
			<li>
				<a href="{{ BASE_PATH }}{{ post.url }}" class="post">
					<h4 class="metadata title">{{ post.title }}</h4>
					<h6 class="metadata description">{{ post.description }}</h6>
					<small class="tags">{{ post.tags }}</small>
				</a>
			</li>

	{% endif %}
	{% endfor %}
	</ul>
	{% assign posts_collate = nil %}
<script type='text/javascript' src='{{ASSET_PATH}}/themes/core/js/ext/jquery/jquery-1.7.2.min.js'></script>
<script type='text/javascript'>
$(document).ready(function() {
  // $('.metadata').toggleClass('hide')
  $('li:odd').addClass('odd')
});
</script>