---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
<ul class="tags_list_ext">
  <h2 class="tags_list_ext" id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul class="tags_list_int">
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
   </ul>
  </ul>
{% endfor %}

<script type='text/javascript' src='{{ASSET_PATH}}/themes/core/js/ext/jquery/jquery-1.7.2.min.js'></script>
<script type='text/javascript'>

$(document).ready(function() {
   $('li:odd').addClass('odd');
    h = 0;
    w = 0;
    t = 0;
  $("ul.tag_box.inline li").each(function(index) {
         size = parseInt($(this).attr('val'),10);
         h = size*10;
         t = size*20;      
          $(this).css("font-size", t + "pt");
    });
});
</script>