//**** twitter bootstrap overrides ***/
.navbar {
  margin-bottom: 0;
}

.nav{margin-left:0;margin-bottom:18px;list-style:none;}
.nav>li>a{display:block;}
.nav>li>a:hover{text-decoration:none;background-color:#eeeeee;}
.nav .nav-header{display:block;padding:3px 15px;font-size:11px;font-weight:bold;line-height:18px;color:#999999;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);text-transform:uppercase;}
.nav li+.nav-header{margin-top:9px;}
.nav-list{padding-left:14px;padding-right:14px;margin-bottom:0;}
.nav-list>li>a,.nav-list .nav-header{margin-left:-15px;margin-right:-15px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);}
.nav-list>li>a{padding:3px 15px;}
.nav-list .active>a,.nav-list .active>a:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);background-color:#0088cc;}
.nav-list [class^="icon-"]{margin-right:2px;}
.nav-tabs,.nav-pills{*zoom:1;}.nav-tabs:before,.nav-pills:before,.nav-tabs:after,.nav-pills:after{display:table;content:"";}
.nav-tabs:after,.nav-pills:after{clear:both;}
.nav-tabs>li,.nav-pills>li{float:left;}
.nav-tabs>li>a,.nav-pills>li>a{padding-right:12px;padding-left:12px;margin-right:2px;line-height:14px;}
.nav-tabs{border-bottom:1px solid #ddd;}
.nav-tabs>li{margin-bottom:-1px;}
.nav-tabs>li>a{padding-top:9px;padding-bottom:9px;border:1px solid transparent;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}.nav-tabs>li>a:hover{border-color:#eeeeee #eeeeee #dddddd;}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover{color:#555555;background-color:#ffffff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default;}
.nav-pills>li>a{padding-top:8px;padding-bottom:8px;margin-top:2px;margin-bottom:2px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.nav-pills .active>a,.nav-pills .active>a:hover{color:#ffffff;background-color:#0088cc;}
.nav-stacked>li{float:none;}
.nav-stacked>li>a{margin-right:0;}
.nav-tabs.nav-stacked{border-bottom:0;}
.nav-tabs.nav-stacked>li>a{border:1px solid #ddd;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.nav-tabs.nav-stacked>li:first-child>a{-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;}
.nav-tabs.nav-stacked>li:last-child>a{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
.nav-tabs.nav-stacked>li>a:hover{border-color:#ddd;z-index:2;}
.nav-pills.nav-stacked>li>a{margin-bottom:3px;}
.nav-pills.nav-stacked>li:last-child>a{margin-bottom:1px;}
.nav-tabs .dropdown-menu,.nav-pills .dropdown-menu{margin-top:1px;border-width:1px;}
.nav-pills .dropdown-menu{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.nav-tabs .dropdown-toggle .caret,.nav-pills .dropdown-toggle .caret{border-top-color:#0088cc;margin-top:6px;}
.nav-tabs .dropdown-toggle:hover .caret,.nav-pills .dropdown-toggle:hover .caret{border-top-color:#005580;}
.nav-tabs .active .dropdown-toggle .caret,.nav-pills .active .dropdown-toggle .caret{border-top-color:#333333;}
.nav>.dropdown.active>a:hover{color:#000000;cursor:pointer;}
.nav-tabs .open .dropdown-toggle,.nav-pills .open .dropdown-toggle,.nav>.open.active>a:hover{color:#ffffff;background-color:#999999;border-color:#999999;}
.nav .open .caret,.nav .open.active .caret,.nav .open a:hover .caret{border-top-color:#ffffff;opacity:1;filter:alpha(opacity=100);}
.tabs-stacked .open>a:hover{border-color:#999999;}
.tabbable{*zoom:1;}.tabbable:before,.tabbable:after{display:table;content:"";}
.tabbable:after{clear:both;}
.tab-content{overflow:hidden;}
.tabs-below .nav-tabs,.tabs-right .nav-tabs,.tabs-left .nav-tabs{border-bottom:0;}
.tab-content>.tab-pane,.pill-content>.pill-pane{display:none;}
.tab-content>.active,.pill-content>.active{display:block;}
.tabs-below .nav-tabs{border-top:1px solid #ddd;}
.tabs-below .nav-tabs>li{margin-top:-1px;margin-bottom:0;}
.tabs-below .nav-tabs>li>a{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}.tabs-below .nav-tabs>li>a:hover{border-bottom-color:transparent;border-top-color:#ddd;}
.tabs-below .nav-tabs .active>a,.tabs-below .nav-tabs .active>a:hover{border-color:transparent #ddd #ddd #ddd;}
.tabs-left .nav-tabs>li,.tabs-right .nav-tabs>li{float:none;}
.tabs-left .nav-tabs>li>a,.tabs-right .nav-tabs>li>a{min-width:74px;margin-right:0;margin-bottom:3px;}
.tabs-left .nav-tabs{float:left;margin-right:19px;border-right:1px solid #ddd;}
.tabs-left .nav-tabs>li>a{margin-right:-1px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.tabs-left .nav-tabs>li>a:hover{border-color:#eeeeee #dddddd #eeeeee #eeeeee;}
.tabs-left .nav-tabs .active>a,.tabs-left .nav-tabs .active>a:hover{border-color:#ddd transparent #ddd #ddd;*border-right-color:#ffffff;}
.tabs-right .nav-tabs{float:right;margin-left:19px;border-left:1px solid #ddd;}
.tabs-right .nav-tabs>li>a{margin-left:-1px;-webkit-border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;border-radius:0 4px 4px 0;}
.tabs-right .nav-tabs>li>a:hover{border-color:#eeeeee #eeeeee #eeeeee #dddddd;}
.tabs-right .nav-tabs .active>a,.tabs-right .nav-tabs .active>a:hover{border-color:#ddd #ddd #ddd transparent;*border-left-color:#ffffff;}
.navbar{overflow:visible;}
.navbar-inner{padding-left:20px;padding-right:20px;background-color:#2c2c2c;background-image:-moz-linear-gradient(top, #333333, #222222);background-image:-ms-linear-gradient(top, #333333, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));background-image:-webkit-linear-gradient(top, #333333, #222222);background-image:-o-linear-gradient(top, #333333, #222222);background-image:linear-gradient(top, #333333, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);}
.btn-navbar{display:none;float:right;padding:7px 10px;margin-left:5px;margin-right:5px;background-color:#2c2c2c;background-image:-moz-linear-gradient(top, #333333, #222222);background-image:-ms-linear-gradient(top, #333333, #222222);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));background-image:-webkit-linear-gradient(top, #333333, #222222);background-image:-o-linear-gradient(top, #333333, #222222);background-image:linear-gradient(top, #333333, #222222);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);border-color:#222222 #222222 #000000;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.075);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.075);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.075);}.btn-navbar:hover,.btn-navbar:active,.btn-navbar.active,.btn-navbar.disabled,.btn-navbar[disabled]{background-color:#222222;}
.btn-navbar:active,.btn-navbar.active{background-color:#080808 \9;}
.btn-navbar .icon-bar{display:block;width:18px;height:2px;background-color:#f5f5f5;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);}
.btn-navbar .icon-bar+.icon-bar{margin-top:3px;}
.nav-collapse.collapse{height:auto;}
.navbar .brand:hover{text-decoration:none;}
.navbar .brand{float:left;display:block;padding:8px 20px 12px;margin-left:-20px;font-size:20px;font-weight:200;line-height:1;color:#ffffff;}
.navbar .navbar-text{margin-bottom:0;line-height:40px;color:#999999;}.navbar .navbar-text a:hover{color:#ffffff;background-color:transparent;}
.navbar .btn,.navbar .btn-group{margin-top:5px;}
.navbar .btn-group .btn{margin-top:0;}
.navbar-form{margin-bottom:0;*zoom:1;}.navbar-form:before,.navbar-form:after{display:table;content:"";}
.navbar-form:after{clear:both;}
.navbar-form input,.navbar-form select{display:inline-block;margin-top:5px;margin-bottom:0;}
.navbar-form .radio,.navbar-form .checkbox{margin-top:5px;}
.navbar-form input[type="image"],.navbar-form input[type="checkbox"],.navbar-form input[type="radio"]{margin-top:3px;}
.navbar-form .input-append,.navbar-form .input-prepend{margin-top:6px;white-space:nowrap;}.navbar-form .input-append input,.navbar-form .input-prepend input{margin-top:0;}
.navbar-search{position:relative;float:left;margin-top:6px;margin-bottom:0;}.navbar-search .search-query{padding:4px 9px;font-family:"OpenSansRegular",OpenSansRegular,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1;color:#ffffff;color:rgba(255, 255, 255, 0.75);background:#666;background:rgba(255, 255, 255, 0.3);border:1px solid #111;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}.navbar-search .search-query :-moz-placeholder{color:#eeeeee;}
.navbar-search .search-query::-webkit-input-placeholder{color:#eeeeee;}
.navbar-search .search-query:hover{color:#ffffff;background-color:#999999;background-color:rgba(255, 255, 255, 0.5);}
.navbar-search .search-query:focus,.navbar-search .search-query.focused{padding:5px 10px;color:#333333;text-shadow:0 1px 0 #ffffff;background-color:#ffffff;border:0;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.15);box-shadow:0 0 3px rgba(0, 0, 0, 0.15);outline:0;}
.navbar-fixed-top{position:fixed;top:0;right:0;left:0;z-index:1030;}
.navbar-fixed-top .navbar-inner{padding-left:0;padding-right:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.navbar .nav{position:relative;left:0;display:block;float:left;margin:0 10px 0 0;}
.navbar .nav.pull-right{float:right;}
.navbar .nav>li{display:block;float:left;}
.navbar .nav>li>a{float:none;padding:10px 10px 11px;line-height:19px;color:#999999;text-decoration:none;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.navbar .nav>li>a:hover{background-color:transparent;color:#ffffff;text-decoration:none;}
.navbar .nav .active>a,.navbar .nav .active>a:hover{color:#ffffff;text-decoration:none;background-color:#222222;}
.navbar .divider-vertical{height:40px;width:1px;margin:0 9px;overflow:hidden;background-color:#222222;border-right:1px solid #333333;}
.navbar .nav.pull-right{margin-left:10px;margin-right:0;}
.navbar .dropdown-menu{margin-top:1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.navbar .dropdown-menu:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0, 0, 0, 0.2);position:absolute;top:-7px;left:9px;}
.navbar .dropdown-menu:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #ffffff;position:absolute;top:-6px;left:10px;}
.navbar .nav .dropdown-toggle .caret,.navbar .nav .open.dropdown .caret{border-top-color:#ffffff;}
.navbar .nav .active .caret{opacity:1;filter:alpha(opacity=100);}
.navbar .nav .open>.dropdown-toggle,.navbar .nav .active>.dropdown-toggle,.navbar .nav .open.active>.dropdown-toggle{background-color:transparent;}
.navbar .nav .active>.dropdown-toggle:hover{color:#ffffff;}
.navbar .nav.pull-right .dropdown-menu{left:auto;right:0;}.navbar .nav.pull-right .dropdown-menu:before{left:auto;right:12px;}
.navbar .nav.pull-right .dropdown-menu:after{left:auto;right:13px;}
.breadcrumb{padding:7px 14px;margin:0 0 18px;background-color:#fbfbfb;background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image:-o-linear-gradient(top, #ffffff, #f5f5f5);background-image:linear-gradient(top, #ffffff, #f5f5f5);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;}

body {
	font-family:OpenSansRegular;
}
.navbar-inner {
padding-left: 20px;
padding-right: 20px;
background-color: #2c2c2c;
background-image: -moz-linear-gradient(top, #333333, #222222);
background-image: -ms-linear-gradient(top, #333333, #222222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
background-image: -webkit-linear-gradient(top, #333333, #222222);
background-image: -o-linear-gradient(top, #333333, #222222);
background-image: linear-gradient(top, #333333, #222222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .brand {
float: left;
display: block;
padding: 8px 20px 12px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
line-height: 1;
color: #ffffff;
}
/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* --------------------------------------------------------
  Global styles
--------------------------------------------------------- */
body {
  background: #111;
  font: 15px/20px 'OpenSansRegular Neue',OpenSansRegular,Arial,sans-serif;
  color: #38424e;
   -webkit-font-smoothing: antialiased;
  }

h1 {
  font-size: 25px;
  font-weight: 900;
  color: #000;
  text-shadow: 0 -1px 0 #eee;
  margin-bottom: 5px;
  }
p {
  padding: 0 0 10px 0;
  }
a {
  color: #301305;
  text-decoration: none;
  }
  a:hover {
    color: #94c48b;
    }

/* --------------------------------------------------------
  Layout + Main component styling
--------------------------------------------------------- */
#map {
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0; left: 0; top:100px;
  z-index: 0;
  }
#header .inner {
  top:40px;
  background-color:#eee;
  height:40px;
  z-index: 5000;
  position:absolute;
}

#subheader, #fullheader {
  position: absolute;
  width: 100%;
  top: 40px; left: 300px;
  height: 80px;
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 5000;
  background-color:#eee;
  }
  #header .inner {
    padding: 20px 10px;
  left:0px;
  width:100%;
}

#sidebar {
  background: transparent;
  position: absolute;
  width: 170px;
  top: 30%;
  right: 10px;
  z-index: 100;

}
#sidebar .inner {
  padding-top: 20px;
}
#attribution {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 10px;
  }

#layer-switcher li.active,
 {
  background-color: #2284ed;
  }

/* --------------------------------------------------------
  Header Styling
--------------------------------------------------------- */
h1#title {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  display: block;
  float: left;
  height: 25px;
  width: 75px;
  text-indent: -999em;
  margin: 15px 10px 5px 0;
  padding: 0;
  }

h6.description {
  clear: both;
  display: block;
  font-size: 13px;
  line-height: 18px;
  }
  h6.description a {
    color: #000;
    font-weight: bold;
    }
    h6.description a:hover {
      color: #2284ed;
      }
#header .description {
	position:absolute;
	z-index:10;
	left:300px;
	right:0;
	height:60px;
	-moz-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
  
}


/* --------------------------------------------------------
  Layer switcher
--------------------------------------------------------- */
#layer-switcher ul {
	border-radius:.2em;
    --webkit-border-radius:.2em;
    --moz-border-radius:.2em;
}
#layer-switcher li {
  position: relative;
  padding-left: 10px;
  border-radius:.2em;
  opacity:.8;
  --webkit-border-radius:.2em;
  border-radius:.2em;
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  background-color:#eee;
  opacity:.8;
  margin-top:5px;
  }
   #layer-switcher li a.title {
	font-family:'OpenSansBold';
    font-weight: regular;
    padding: 10px 0;
    display: block;
    text-decoration: none;
    color:#333;
    }
  #layer-switcher li:hover {
    background-color: #2284ed;
    color: #2284ed;
    border:1px solid #2284ed;
    }
  #layer-switcher li a:hover {
    background-color: #eee;
    color: #2284ed;
    }
  #layer-switcher li.active a.title {
    color: #2284ed;
    }
  #layer-switcher li .description {
    background: #eee;
    color: #404040;
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
    font-size: 13px;
    line-height: 18px;
    right: 180px;
    width: 140px;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    opacity:1;
    }
    #layer-switcher .arrow {
      position: absolute;
      right: -10px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 10px solid transparent;
      }
  #layer-switcher li.active .description { display: block; }

/* Notes */
#sidebar .notes {
  background: #fff;
  font-size: 11px;
  line-height: 18px;
  color: #656565;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  }
  #sidebar .notes a {
    color: #999;
    font-weight: 500;
    }

#sidebar #more-data a {
  font-size: 15px;
  font-weight: bold;
  display: block;
  padding: 10px;
  background-color: #585858;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 15px 0;
  text-align: center;
  color: #fff;
  }
  #sidebar #more-data a:hover {
    background-color: #505050;
    }

#share {
  background: #eee;
  top: 20px;
  right: 20px;
  position: absolute;
  z-index: 100;
  width: 60px;
  text-align: center;
  font-size: 13px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  #share a {
    color: #000;
    }

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  display: none;
  z-index: 1000000;
  }
.modal-box {
  width: 500px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  margin-left: -260px;
  margin-top: -90px;
  top: 50%;
  left: 50%;
  color: #333;
  padding: 20px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  .modal h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    }
  .modal .tilejson {
    width: 230px;
    float: right;
    }
  .modal .embed {
    width: 230px;
    float: left;
    }
  .modal textarea {
    border: 1px solid #ddd;
    width: 100%;
    height: 50px;
    }
  .modal a {
    color: #489;
    }
  .modal h3 {
    font-weight: bold;
    margin-top: 10px;
    }
  .modal .close {
    font-weight: bold;
    display: block;
    float: right;
    width: 25px;
    line-height: 25px;
    height: 25px;
    text-align: center;
    background-color: #eee;
    color: #000;
    -moz-border-radius: 2px;
    border-radius: 2px;
    }

/* --------------------------------------------------------
  Wax, largely taken from theme/controls.css
--------------------------------------------------------- */
a.zoomer {
  text-decoration: none;
  position: absolute;
  background-color: #fff;
  line-height: 30px;
  font-size: 20px;
  z-index: 1000;
  text-align: center;
  width: 30px;
  height: 30px;
  top: 19px;
  color: #000;
  z-index: 200;
}

a.zoomin {
    right: 300px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

a.zoomout {
    right: 320px;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}

.map-legends {
  position:absolute;
  right:20px;
  bottom:20px;
  z-index:999999;
}

.map-legends .map-legend {
  padding:10px;
  background:#fff;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  }

.wax-tooltip {
  width: 200px;
  z-index: 1000;
  position:relative;
  background:transparent;
  color: #404040;
  padding: 10px;
  -webkit-user-select:auto;
  height:auto;
  left: 0;
  top:25px;
  opacity:.9;
  max-width:100%;
  -webkit-transition:opacity 150ms;
/*  -moz-transition:opacity 150ms;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
*/}

 .wax-tooltip h3 {
	text-transform:uppercase;
}
.wax-fade { opacity:0; }

.wax-tooltip b {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.wax-tooltip .close {
  display:block;
  position:absolute;
border:1px solid #333;
  top:5px;
  right:0;
	border-radius: 2px;
  box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;

  }

.close .button {
	background-color:transparent;
	border-radius: 2px;
    box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
    -moz-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
    -webkit-box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;
  
}

.wax-tooltip .hide {
	opacity:0;
	height:0;
	width:0;
	max-height:0;
}

.wax-tooltip .scale-stat int-stat,
.wax-tooltip .census-stats int-stat,
.wax-tooltip .scale-stats int-stat,
.wax-tooltip .stops-stats int-stat,
.wax-tooltip .outcome-stats int-stat {
    width:95%;
	position:relative;

}

.wax-tooltip .scale-stat int-value,
.wax-tooltip .census-stats int-value,
.wax-tooltip .scale-stats int-value,
.wax-tooltip .stops-stats int-value,
.wax-tooltip .outcome-stats int-value {
	display:block;
	vertical-align:baseline;
	line-height:1em;
}
.wax-full {
	padding:20px;
}
.wax-tooltip .int-value span {
	display:block;
	vertical-align:baseline;
	width:100%;
	position:relative;	
}
.wax-tooltip .clear-fix {
	position:relative;
	min-height:0;
}

.wax-tooltip .scale-stat h3 {
	font-size:18px;
	display:block;
	vertical-align:baseline;
	text-weight:300pt;
}
.wax-tooltip tr, .wax-tooltip tbody tr {
	border-bottom:1px solid #333;
	line-height:10px;
}

#table {
	left:0;
	bottom:0;
	top:0;
	width:300px;
	top:20px;
	background-color:#eee;
	position:absolute;
	z-index:5000;
	-moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.wax-tooltip {
	width:280px;
	margin:0px;
	left:0;
	top:30;
}
.wax-tooltip td, .wax-tooltip .wax-full td {
	font-size:10pt;
/*	border-left:1px solid #444;
*/	text-align:right;
	padding:6px;
}

.wax-tooltip .wax-full tr:hover, .wax-tooltip tr:hover {
	background-color:#ddd;
	color:#333;
}
.wax-tooltip th {
	font-size:10pt;
	font-family:'SourceSansProBlackRegular';
	text-align:left;
	padding:6px;
	text-transform:uppercase;
}
.wax-tooltip .clear-fix .hide {
	height:0;
	opacity:0;
	width: 100%;
}
.wax-tooltip .scale-stat,
.wax-tooltip .census-stats ,
.wax-tooltip .scale-stats,
.wax-tooltip .stops-stats,
.wax-tooltip .outcome-stats,
.wax-tooltip .person-stats {
  vertical-align:baseline;
  color:#333;
}

.wax-tooltip .scale-stat tr,
.wax-tooltip .census-stats tr,
.wax-tooltip .scale-stats tr,
.wax-tooltip .stops-stats tr,
.wax-tooltip .outcome-stats tr,
.wax-tooltip .person-stats tr {
	margin-left:15px;
	margin-right:20px;

}


.wax-tooltip .scale-stat th,
.wax-tooltip .census-stats th,
.wax-tooltip .scale-stats th,
.wax-tooltip .stops-stats th,
.wax-tooltip .outcome-stats th,
.wax-tooltip .person-stats th {
  font-family:'SourceSansProBlackRegular';
  font-size:10px;
  text-align:left;
}


.wax-tooltip .scale-stat td,
.wax-tooltip .census-stats td,
.wax-tooltip .scale-stats td,
.wax-tooltip .stops-stats td,
.wax-tooltip .outcome-stats td,
.wax-tooltip .person-stats td {
  font-family:'SourceSansProBlackRegular';
  font-size:12pt;
  text-align: right;
}


.wax-tooltip .scale-stat h4,
.wax-tooltip .census-stats h4,
.wax-tooltip .scale-stats h4,
.wax-tooltip .outcome-stats h4 {
  display:block;
  vertical-align:baseline;
}

.wax-tooltip .scale-stat h3,
.wax-tooltip .census-stats h3,
.wax-tooltip .scale-stats h3,
.wax-tooltip .stops-stats h3,
.wax-tooltip .outcome-stats h3 {
  display:block;
  vertical-align:baseline;
  margin-left:20px;
}

.wax-tooltip .scale-stat .int-title h3 {
	font-size:24pt;
	font-family:SourceSansProLightRegular;
	display:block;
}
.wax-tooltip .scale-stat .int-title span {
	display:block;
	font-size:36pt;
	padding:20px;
	font-family:SourceSansProBlackRegular;
	margin-left:80px;
}
.wax-tooltip {
/*	background:#eee;
*/}
.scale-stat {
	opacity:0;
	height:0;
}
.wax-tooltip .clear-fix .census-stats {
	left:0;
	width:100px;
	display:inline;
}
.wax-tooltip .clear-fix .scale-stats {
	left:100;
	display:inline;
	width:100px;
}

.wax-tooltip {
	z-index:50001;
	overflow:display;
	border:transparent;
	box-shadow:0px;
	font-family:'SourceSansProBlackRegular';
}