pre code span { font-family: Menlo, Monaco,"Courier New",monospace; }
pre code { display:block; padding-top: 10px; padding-bottom:10px;  padding-left: 50px; padding-right: 50px; }
h1,h2,h3,h4,h5,h6{margin:0;font-weight:regular;color:#333333;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:regular;color:#999999;}

ul.tag_box.cloud {
	height:800px;
}
.tag_box a, .map-view a.map-button {
	border-radius: .3em;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.4);
	padding:5px 9px;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}

.tag_box a:hover, .map-view a.map-button:hover {
	border: 1px solid rgb(27,179,255);
	color:rgb(27,179,255);
	
}


.tags_list_ext h2 {
    font-weight:300;
	text-transform: uppercase;
	font-size: 12pt;
	background: #eee;
	border-radius: .2em;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	padding-left:4px;
	padding-right:4px;
	margin-bottom:10px;
}

.tags_list a {
	border-radius: .2em;
	text-decoration: none;
}

ul.data-categories, ul.tags_list {
	list-style: none;
	}
	
li.data-category, li.tags_list  {
	list-style: none;
	padding:10px;
	border-radius:.2em;
}

 li.tags_list {
	margin:20px;
}

li.data-category .odd, li.tags_list a {
	background-color:#e3e4e5;
}

div.map-thumb {
	background-color:#f5f5f5;
	padding:10px;
	border-radius: .2em;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	margin:10px;
	float:left;
}	.view {
	    width: 300px;
	    height: 250px;
	    margin: 10px;
	    float: left;
	    border: 10px solid #f5f5f5;
	    overflow: hidden;
	    position: relative;
	    text-align: center;
		background-color:#f5f5f5;
		border-radius: .2em;
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
		   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
		        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}
	.view .mask, .view .content {
	    width: 300px;
	    height: 250px;
	    position: absolute;
	    overflow: hidden;
	    top: 0;
	    left: 0
	}
	.view img {
	    display: block;
	    position: relative
	}
	.view h2 {
	    color: #f5f5f5;
	    text-align: center;
	    position: relative;
	    font-size: 18px;
	    padding: 10px;
	    margin: 20px 0 0 0
	}
	.view p {
	    font-family: SourceSansProItalic;
		font-weight:200;
	    font-size: 14px;
	    position: relative;
	    color: #fff;
	    padding: 10px 20px 20px;
	    text-align: center
	}
	.view a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: rgb(27,179,255);
  	color: #f5f5f5;
	border-radius: .3em;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.4);
	padding:5px 9px;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	}
	.view a.info:hover {
		border: 1px solid rgb(242,242,242);
		color:rgb(242,242,242);
}
	.view-first img { 
	    transition: all 0.2s linear;
	}
	.view-first .mask {
	    opacity: 0;
	    background-color: rgba(10,10,10, 0.7); 
	    transition: all 0.4s ease-in-out;
	}
	.view-first h2 {
	    transform: translateY(-100px);
	    opacity: 0;
	    transition: all 0.2s ease-in-out;
	}
	.view-first p { 
	    transform: translateY(100px);
	    opacity: 0;
	    transition: all 0.2s linear;
	}
	.view-first a.info{
	    opacity: 0;
	    transition: all 0.2s ease-in-out;
	}
	.view-first:hover img { 
	    transform: scale(1.1);
	} 
	.view-first:hover .mask { 
	    opacity: 1;
	}
	.view-first:hover h2,
	.view-first:hover p,
	.view-first:hover a.info {
	    opacity: 1;
	    transform: translateY(0px);
	}
	.view-first:hover p {
	    transition-delay: 0.1s;
	}
	.view-first:hover a.info {
	    transition-delay: 0.2s;
	}
	
