pre code span { font-family: Menlo, Monaco,"Courier New",monospace; }
pre code { display:block; padding-top: 10px; padding-bottom:10px;  padding-left: 50px; padding-right: 50px; }
h1,h2,h3,h4,h5,h6{margin:0;font-weight:regular;color:#333333;text-rendering:optimizelegibility;}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:regular;color:#999999;}

.tags_list_ext h2 {
    font-weight:300;
	text-transform: uppercase;
	font-size: 12pt;
	background: #eee;
	border-radius: .2em;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.4);
	padding-left:4px;
	padding-right:4px;
}
.tags_list a {
	border-radius: .2em;
	text-decoration: none;
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,.3);
}

.data-categories ul {
	list-style: none;
	}
	
.category li {
}

.category .odd li {
	background-color:#e3e4e5;
}