---
layout: page
title: "Maps"
header: "Maps available on the site"
group: navigation
---
{% include JB/setup %}
{% assign posts_collate = site.posts %}
{% for post in posts_collate %}
{% if post.category == "map" %}
	{% if post.api != empty %}	
	<div class="view view-first">
		<img src="http://api.tiles.mapbox.com/v3/{{ post.base }}{% if post.base != empty %},{% endif %}{{ post.api }}/-73.9500,40.7142,12/270x300.png" alt="{{ post.title }}" />
	<div class="mask">
		<h2>{{ post.title }}</h2>
	<p>{{ post.description }}</p>
	<a class="info" href="{{ BASE_PATH }}{{ post.url }}">View Map</a>
	</div>
	</div>
{% endif %}
{% endif %}
{% endfor %}
{% assign posts_collate = nil %}


<!-- Give credit where credit is due! This page was made easily thanks to the great documentation at http://tympanus.net/Tutorials/OriginalHoverEffects/index7.html -->

<style type='text/css'>
.hide {
	opacity:0;
}

</style>
<script type='text/javascript' src='{{ASSET_PATH}}/themes/core/js/ext/jquery/jquery-1.7.2.min.js'></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('div.view:odd').addClass('odd')
});
</script>