---
layout: page
title: "Maps"
header: "Maps available on the site"
group: navigation
---
{% include JB/setup %}
<ul class="tag_box inline">
	{% assign posts_collate = site.posts %}
	  {% for post in posts_collate  %}
	  {% if post.category == "map" %}
	    <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
		</li>
	    {% endif %}
	  {% endfor %}
</ul>
{% for post in posts_collate %}
{% if post.category == "map" %}
<!-- <div class='tags_list_ext'>
<h3 class='map-title' id='{{ post.title | downcase | replace: ' ', '-' }}-ref'><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3></div>
<div class='tags_list_int'> -->
	{% if post.api != empty %}
<div class="view view-first">
	<img src="http://api.tiles.mapbox.com/v3/{{ post.base }}{{ post.api }}/-73.9500,40.7142,12/300x300.png" alt="{{ post.title }}" />
	<div class="mask">
		<h2>{{ post.title }}</h2>
	<p>{{ post.description }}</p>
	<a class="info" href="{{ BASE_PATH }}{{ post.url }}">View Map</a>
	</div>
	</div>
{% endif %}
<!-- </div> -->
{% endif %}
{% endfor %}
{% assign posts_collate = nil %}

<style type='text/css'>
.hide {
	opacity:0;
}

</style>
<script type='text/javascript' src='{{ASSET_PATH}}/themes/core/js/ext/jquery/jquery-1.7.2.min.js'></script>
<script type='text/javascript'>
$(document).ready(function() {
  $('.map').toggleClass('hide')
  $('li:odd').addClass('odd')
});
</script>